body {
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('../img/87577.jpg');
}

h1 {
    color: blueviolet;
    font-size: 50px;
}

h3 {
    color: white;
    margin-bottom: 50px;
}

#texto {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#texto p {
    color: white;
}

#texto p a {
    text-decoration: none;
    color: turquoise;
}

canvas {
    border: 10px rgb(18, 110, 197) solid;
}